.content{
	margin-top: 50px;
}
.red{
	color: #ff0000;
}
.form-control-feedback{
	right: 10px;
}
.help-block {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding:1px 20px 1px 20px;
}
<<<<<<< HEAD
input[aria-invalid='true'] {box-shadow: 0px 0px 6px 0 red;}
=======
input[aria-invalid='true'] {box-shadow: 0px 0px 6px 0 red;}
>>>>>>> 7a5823411932192251f5b44901b3a92c68c7a5d7
