<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <b:bean id="simpleCORSFilter" class="hospital.utils.SimpleCORSFilter">
    </b:bean>

    <http pattern="/bootstrap/**" security="none"/>
    <http realm="JavaStudy example" use-expressions="false">
        <intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/patient/add**" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/patient/discharge/{id}" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/prescriptions/{id}" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/patient/remove/{id}" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/updatePatient" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/patient/delete/{id}" access="ROLE_DOCTOR"/>
        <intercept-url pattern="/patient/update/{id}" access="ROLE_DOCTOR"/>

        <intercept-url pattern="/exitUser*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/events/status/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/events/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!--<intercept-url pattern="/events/doctor_1" access="ROLE_DOCTOR_1"/>
        <intercept-url pattern="/events/doctor_2" access="ROLE_DOCTOR_2"/>
        <intercept-url pattern="/events/doctor_3" access="ROLE_DOCTOR_3"/>
        <intercept-url pattern="/events/nurse_4" access="ROLE_NURSE_4"/>
        <intercept-url pattern="/events/nurse_5" access="ROLE_NURSE_5"/>-->
        <intercept-url pattern="/**" access="ROLE_NURSE"/>
        <intercept-url pattern="/patient/{id}" access="ROLE_NURSE"/>
        <intercept-url pattern="/allProcMed" access="ROLE_NURSE"/>
        <intercept-url pattern="/events/prescription/{idPat}/{idPresc}" access="ROLE_NURSE"/>
        <intercept-url pattern="/init/{page_id}" access="ROLE_NURSE"/>
        <intercept-url pattern="/sortSurname/{page_id}/{order}" access="ROLE_NURSE"/>
        <intercept-url pattern="/sortEventsDate/{idPat}/{order}" access="ROLE_NURSE"/>
        <intercept-url pattern="/patients" access="ROLE_NURSE"/>
        <intercept-url pattern="/bootstrap/bootstrap.min.css*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <custom-filter after="BASIC_AUTH_FILTER" ref="simpleCORSFilter" />

        <form-login login-page="/login.jsp"
                    authentication-failure-url="/login.jsp?login_error=1"/>
        <http-basic/>
        <logout logout-success-url="/exitUser.jsp"/>
        <remember-me />
        <headers/>
        <csrf disabled="true" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="doctor_1" password="doctor" authorities="ROLE_DOCTOR,ROLE_DOCTOR_1, ROLE_NURSE"/>
                <user name="doctor_2" password="doctor" authorities="ROLE_DOCTOR,ROLE_DOCTOR_2, ROLE_NURSE"/>
                <user name="doctor_3" password="doctor" authorities="ROLE_DOCTOR, ROLE_DOCTOR_3, ROLE_NURSE"/>
                <user name="nurse_4" password="nurse" authorities="ROLE_NURSE, ROLE_NURSE_4" />
                <user name="nurse_5" password="nurse" authorities="ROLE_NURSE, ROLE_NURSE_5" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</b:beans>